<!-- Sidebar -->
    <div id="sidebar" class="inactive">
        <div class="inner">

            <!-- Search -->
                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Search" />
                    </form>
                </section>

            <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a href="/pages/index.html">Home</a></li>
                        <li>
                            <span class="opener">Articles</span>
                            <ul>
                                <li><a href="#">Hockey</a></li>
                                <li><a href="#">Football</a></li>
                                <li><a href="#">Basketball</a></li>
                                <li><a href="#">Trade Trees</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="opener">Analytics</span>
                            <ul>
                                <li><a href="/pages/analytics/nhl_clutch.html">Hockey</a></li>
                                <li><a href="#">March Madness (Coming soon)</a></li>
                            </ul>
                        </li>
                        <li><a href="/pages/about.html">About</a></li>
                    </ul>
                </nav>

            <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Recent Articles</h2>
                    </header>
                    <div class="mini-posts">
                        <!-- EXAMPLE
                        <article>
                            <a href="#" class="image"><img src="../images/pic07.jpg" alt="" /></a>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                        </article>
                        -->
                    </div>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

        </div>
    </div>